/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('resources/Images/background.jpg'); 
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Della Respira';
  src: url('resources/fonts/Della_Respira/DellaRespira-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('resources/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

.heading {
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Della Respira', cursive;
  margin: 25px;
  margin-bottom: 35px;
}

.main-container {
  padding: 20px;
  text-align: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

.accordion-item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #6B8EAE; /* Adjusted border color */
  border-radius: 5px;
  background-color: #96B4D2; /* Adjusted background color */
}

.title {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  background-color: #4A90E2; 
  color: #FFFFFF; 
}

.grid-container {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #F2F5F8; 
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
}

.grid-item {
  text-align: center;
  margin: 0;
}

.grid-item img {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

.grid-item p {
  margin-top: 50px;
  margin-right: 50px;
  font-family: 'Open Sans', sans-serif; 
  font-size: 18px; 
  color: #333; 
  line-height: 1.5; 
  text-align: left; 
}

.accordion-item.expanded .title {
  background-color: #1E4672; 
  }
